body {
    background-color: #131313;
    text-align: center;
}

h1 {
    color: white;

}

.media-picture {
    width: 100%;
    height: 400px;
    background-image: url(/img/homemaranha.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.review-score {
    color: white;
    background-color: #e6bd09;
    padding: 12px;
}

h2 {
    color: steelblue;
}

p {
    color: #bdbdbd;
}

a {
    color: #e6bd09;
}