
* {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: blanchedalmond;
}

h1 {
    color: darkblue;
}

.linkdiferente {
    color: silver;
}

a.linkdiferente:hover {
    color: black;
}

a.linkdiferente:focus {
    color: green;
    background-color: white;
    border: 2px dashed;
}

#lembra-senha:checked {
    margin-right: 20px;   
}

input:disabled {
    background-color: yellow;   
}

ul li:nth-child() {
    color: tomato;
}