
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Cormorant&family=Dongle&family=Merriweather:ital,wght@1,900&family=PT+Serif&family=Playfair+Display:wght@500&family=Raleway:wght@500&family=Roboto+Mono&family=Satisfy&display=swap');

* { 
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  background-color: rgb(219, 219, 219);
}

.topo{
  display: flex;
  justify-content: center;
}

.img-topo{
  position: relative;
  width: 32px;
  height: 32px;
  top: 53px;
  left: 35px;
}

.title {
  text-align: center;
  color: white;
  padding: 50px;
  font-family: 'Roboto', sans-serif;
}

.title:hover {
  color:blueviolet;
  transition: transform .5s;
}

.dad-img img {
  width: 8rem;
  height: 8rem;
  border-radius: 10px;
}

.dad-img {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

h3 {
  color: white;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

h4 {
  color: rgb(211, 211, 211);
  text-align: center;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
}


.container {
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-areas:
    'cabecalho cabecalho'
    'principal barra-lateral'
    'rodape rodape';
}

header {
  grid-area: cabecalho;
  background-color: lime;
}

main {
  grid-area: principal;
  background-color: rgb(216, 216, 216);
}

aside {
  grid-area: barra-lateral;
}

footer {
  grid-area: rodape;
  background-color: rgb(255, 255, 255);
}