* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 400px;
    background-color: black;
}

.bolinha {
    width: 200px;
    height: 200px;
    background-color: cyan;
    border-radius: 50%;
    transform: translate(-100px);
    animation: freia-bolinha 1s ease-in-out infinite;
}

@keyframes freia-bolinha {
    0% {
       transform: translateX(-550px);
       opacity: 0%;
    }

    25% {
        transform: translateX(0);
        opacity: 1;
        transform: translateY(0);
    }

    50% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateX(0);
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        transform: translateX(550px);
        opacity: 0;
    }
}